*
{
    margin: 0;
    padding: 0;
    
}

html,
body
{
    overflow: hidden;
    cursor: none;
    /* background-color: #7f7a7c; */
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 25px; /* Adjust size as needed */
    height: 25px;
    border-radius: 50%;
    color: white;
    background-color: #9e5a75;
    pointer-events: none; /* Allow clicks to pass through */
    mix-blend-mode: difference; /* Invert colors under the cursor */
    z-index: 10; /* Ensure it's on top */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
    
    /* background: transparent; */
}

.test {
    position: relative;
    z-index: 10;
    color: white;
}
